################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElasticsearchTest/v16/Server/sqlite3
/.vs/
/ElasticsearchTest\obj
/.vs/ElasticsearchTest/v16
/ElasticsearchTest/bin
