################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElasticsearchTest/v16/Server/sqlite3
/.vs/
/ElasticsearchTest/obj
/Persistance/obj
/.vs/ElasticsearchTest/v16
/ElasticsearchTest/bin
bin/
obj/
/obj/
**/bin/
**/obj/

*.suo
*.user
_ReSharper.*
bin
obj
packages